#form {
  background-color: #e7e7e7;
  color: white;
  width: 50%;
  min-width: 300px;
  padding: 2%;
  display: block;

}

.form-title {
  color: #bb8ce5;
  font-weight: 600;
  font-size: 4vh;
}

.form-submit {
  background-color: #bb8ce5;
  border: none;
}

.char-counter {
  height: 11;
  position: absolute;
  bottom: -12;
  right: 0;
  font-size: 11;
  color: #c0c0c0;
}

.error {
  border: 1px solid red;
}